// mixin
@mixin btncolor($red, $green, $blue, $a){
    background-color: rgba($red, $green, $blue, $a);
    border: 3px solid rgba($red, $green, $blue, $a - 0.2);
}

@mixin hover($red, $green, $blue){
  background-color: rgb($red, $green, $blue);
}

.welcome {
    height: 500px;
    background-image: url(../img/background1.jpg);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  ​
  .title{
    font-size: 64px;
  }
  ​
  .guideline{
    font-size: 28px;
    font-weight: bold;
    margin-top:50px;

    li{
        margin-top: 16px;
    }
  }
  ​
   .btn-group{
    margin-top: 60px;
  }
  ​
  .btn {
    height: 55px;
    width: 170px;
    color: #fff;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    margin-left: 120px;

    &:first-child{
        margin-left: 0;
    }

  }
  // register変数
  $r: 29;
  $g: 172;
  $b: 224;
  $a: 0.5;​

  .register{
    // background-color: rgba($r,$g,$b, $a);
    // border: 3px solid rgba($r,$g,$b, .3);
    @include btncolor($r,$g,$b, $a )

    &:hover{
        // background-color: rgb(29,172,224);
        @include hover($r,$g,$b);
      }

  }
  
  // login変数​
  $r: 236;
  $g: 227;
  $b: 35;

  .login{
    // background-color: rgba(236,227,35, .5);
    // border: 3px solid rgba(236,227,35, .3);
    @include btncolor($r,$g,$b, $a)

    &:hover{
        // background-color: rgb(236,227,35);
        @include hover($r,$g,$b);
      }
      
  }